body {
    background-color: #ccc;
    margin: 0;
    font-family:
        "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
        Meiryo, sans-serif;
}

.site-header {
    background-color: #47b39d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.site-title {
    margin: 0;
    padding: 16px;
    color: #fff;
    font-size: 18px;
}

.nav-list-title {
    display: none;
}

.site-nav-list {
    margin: 0;
    padding: 0 16px;
    gap: 16px;
    display: flex;
}

.nav-list-item {
    list-style: none;
    margin: 0;
    padding: 0;

    & a {
        color: #fff;
        text-decoration: none;
        display: block;
        line-height: 90px;
        padding: 0 16px;
        transition: background-color 0.2s;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

.content-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #42a994;
    color: #fff;
    text-align: center;
    height: 500px;
}

.content-title {
    margin: 0 0 24px;
    color: #fff;
    font-size: 42px;
    font-weight: normal;
    line-height: 1.4;
}

.content-text {
    margin: 0;
    padding: 0 16px;
    max-width: 600px;
    color: #fff;
    font-size: 16px;
    line-height: 1.8;
}

@media (max-width: 768px) {
    .content-title {
        font-size: 32px;
    }

    .content-text {
        font-size: 14px;
    }
}

.app-heading {
    background-color: #3B4552;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.app-title {
    margin: 0 0 8px;
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.4;
}

.app-subtitle {
    margin: 0;
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
}

/*========================================================================
 　　Media Queries（For Desktop/Tablet）
========================================================================*/

@media (min-width: 768px) {
    .app-layout {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;

        /*
        横幅の比率をグリッドトラックで定義：
        メインに「１ｆｒ（残りすべての可変幅）」、サイドバーに「２５０ｐｘ」
        */

        grid-template-columns: 250px 1fr;
        grid-template-areas:
            "header header"
            "nav nav"
            "aside main"
            "footer footer";
    }
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: relative;
}


/*====================================================================
2.ハンバーガーボタン（スマホ用）
====================================================================*/

.menu-trigger {
    display: blaok;
    /* 初期状態（スマホ）では表示　*/
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 24px;
    position: relative;
    top: 0;
    right: 0;
    z-index: 100;
    /* メニューより手前に出す */
}

/* 三本線の共通のスタイル　*/
.menu-trigger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-trigger span:nth-child(1) {
    top: 0;
}

.menu-trigger span:nth-child(2) {
    top: 10px;
}

.menu-trigger span:nth-child(3) {
    top: 20px;
}

/* ナビゲーションが開いたとき（×に変形 ）*/
.menu-trigger[aria-expanded="true"] span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.menu-trigger[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
}

.menu-trigger[aria-expanded="true"] span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}


/* ========================================================================
3. ナビゲーションメニュー（モバイル用：初期は非表示）
======================================================================== */
.app-nav {
    display: none;
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    background-color: #444c;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

/* JSで「.is-active」が表示する*/
.app-nav.is-active {
    display: block;
}

/*=========================================================================
4.pc向けのスタイル　（画面幅７６８px　以上）
=========================================================================*/
@media (min-width: 768px) {

    /* PCではボタンを隠す */
    .menu-trigger {
        display: none;
    }

    /* PCではメニューを常に横並びで表示 */
    nav ul {
        display: flex;
        gap: 1em;
    }

    /* 位置を正常に戻す */
    .app-nav {
        display: flex;
        position: static;
        width: auto;
        padding: 0;
        box-shadow: none;
    }
}