body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

.site-header {
    background-color: #000;
}

.site-title {
    margin: 0;
    padding: 16px;
    color: #fff;
    background-color: #000;
}

.content-item {
    background-color: #fff;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
}